.titleSections {
  position: relative;
  /*  new lines  */
  // max-width: 1000px;
  margin:  auto;
  text-align: center;
  span {
    text-transform: capitalize;
  }
  &::after {
    content: " ";
    display: block;
    height: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 105%;
    background: rgb(239, 125, 0);
    background: linear-gradient(
      90deg,
      rgba(239, 125, 0, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  &::before {
    content: " ";
    height: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    right: 105%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(239, 125, 0, 1) 100%
    );
  }
}
